.git
.github
.vscode
.idea

.venv
venv
env

.env
.env.*
!.env.example

__pycache__
*.py[cod]
*.pyo
*.pyd
*.egg-info

.pytest_cache
.coverage
htmlcov

tests
frontend
data
chroma_db

*.log
*.ipynb
.ipynb_checkpoints

README.md